.login_main {
	margin-top: 10em;
}

.logo {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.logo>img {
	padding-left: 10px;
	width: 90vw;
	max-width: 400px;
}

.nutri_phone {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.user_login {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 50px;
}

.user_login>form {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.user_login>form>label {
	padding-bottom: 10px;
}

.user_login>form>input {
	margin-bottom: 20px;
}